---
const { text, href } = Astro.props;
---

<div class="docs-download-item">
  ✅ <a href={href} target="_blank" rel="noopener noreferrer">{text}</a>
</div>

<style>
  .docs-download-item {
    margin-bottom: 0.2rem; 
  }

  .docs-download-item a {
    color: var(--color-link); 
    text-decoration: none;
    font-weight: 500;
    font-size: .9rem;
  }

  .docs-download-item a:hover {
    text-decoration: underline;
  }
</style>