---
interface Props {
  items: { text: string }[];
}

const { items } = Astro.props;
---

<ol>
  {
    items.map((item) => (
      <li>
        ✅ <i>{item.text}</i>
      </li>
    ))
  }
</ol>

<style>
  ol {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  li {
    font-size: 0.8rem; 
    font-weight: bold;
    line-height: 1.5; 
    color: var(--textColor);
    font-style: italic; 
  }
</style>