---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Icon } from 'astro-icon/components';

// Получение всех статей блога и сортировка по дате публикации (от новых к старым)
const allArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5); 
---

<section class="section">
  <h3 class="underline underline-offset-8 decoration-dotted py-4">
    Последние публикации
  </h3>
  <div class="flex flex-col gap-2"> 
    {
      allArticles.map((article) => (
        <a href={`/blog/${article.slug}`}>
          <div class="card--article-preview">
            <div class="article-preview__body py-2">
              <Icon name="article" size={20} class="cursor-pointer" />
              <time class="article-title ml-6 italic">
                {article.data.title}
              </time>
            </div>
            <Icon name="arrowRight" size={20} class="cursor-pointer" />
          </div>
        </a>
      ))
    }
  </div>
</section>