<form action="/search" class="pt-2">
  <label for="search">
    <input
      type="search"
      id="query"
      name="query"
      autocomplete="off"
      spellcheck="false"
      placeholder="Поиск статьи..."
      required
    />
  </label>
</form>

<style>
  #query {
    font-size: 1em;
    font-weight: 500;
  }
</style>
