---
const { items } = Astro.props;
---

<details open>
  <summary>
    <span>Содержание</span>
  </summary>
  <hr />
  <ol>
    {items.map((item) => (
      <li>
        <a href={`#${item.id}`}>{item.text}</a>
      </li>
    ))}
  </ol>
  <hr />
</details>

<style>
  /* === содержание статьи === */
  details {
    margin: 1.5rem 0;
    border: 1px solid var(--mainBorderColor);
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--contentBgColor);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Сброс стилей для hr */
  hr {
    display: none;
  }

  details summary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    position: relative;
    padding: 0.5rem 0;
    margin: 0;
    text-transform: uppercase;
  }

  /* Убираем стандартный маркер в Safari */
  details summary::-webkit-details-marker {
    display: none;
  }

  /* Иконка стрелки */
  details summary::after {
    content: "▼";
    margin-left: 10px;
    transition: transform 0.3s ease;
    color: var(--secondaryTextColor);
    font-size: 0.8em;
  }

  /* Иконка стрелки при открытом состоянии */
  details[open] summary::after {
    transform: rotate(180deg);
    content: "▲";
  }

  /* Стили для списка */
  details ol {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem; /* Добавлен паддинг слева */
    padding-right: 1rem; /* Добавлен паддинг справа */
    width: 100%; /* Занимает всю ширину родителя */
    box-sizing: border-box; /* Учитываем паддинги в ширине */
  }

  /* Стили для пунктов списка */
  details ol li {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  /* Стили для ссылок в списке */
  details ol li a {
    color: var(--secondaryTextColor);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  /* Эффект при наведении на ссылки */
  details ol li a:hover {
    color: var(--mainLinkColor-light);
  }
  /* ===./ конец содержания статьи === */
</style>