---
const { text } = Astro.props;
---

<div class="zametka">
  ⚠️ {text}
</div>

<style>
  .zametka {
    background-color: rgba(0, 150, 255, 0.05);
    padding: 0.75rem;
    margin: 2rem 0;
    border-left: 4px solid #6482c2;
    border-radius: 4px;
    font-size: 0.9rem;
    font-style: italic;
  }
</style>