---
import VideoCard from "../video/VideoCard.astro";
import Videos from "./dataVideo.js"

---

<section>
  <div id="video"></div>
  <h3 class="text-[1.4rem] underline underline-offset-8 decoration-dotted my-6">
    Видео материалы
  </h3>

  <div id="video-wrapper">
    {
      Videos.map((video) => 
      <VideoCard 
        title={video.title} 
      />
      )}
  </div>
</section>

<style>
  #video-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

  
  @media (width < 800px) {
    #video-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (width < 539px) {
    #video-wrapper {
      grid-template-columns: 1fr;
    }

    h3 {
      text-align: center;
    }
  }
</style>
