<div class="contactInfo education">
  <h3 class="title">Образование</h3>
  <ul>
    <li>
      <div class="years">1997 - 2001г.</div>
      <h3>Тюменский Юридический Институт</h3>
      <h4>Специальность - Юриспруденция</h4>
    </li>
    <li>
      <div class="years">2001 - 2003г.</div>
      <h3>Санкт-Петербургская Академия</h3>
      <h4>Повышение квалификации</h4>
    </li>
  </ul>
</div>