---
import Brand from "./Brand.astro";
import Contacts from "./Contacts.astro";
import Education from "./Education.astro";
import Experience from "./Experience.astro";
import Practice from "./Practice.astro";
import Footer from "./Footer.astro";

---

<section class="right_side">
  <Brand />
  <Contacts />
  <Education />
  <Practice />
  <Experience /> 
  <Footer /> 
</section>