<hr style="width: 80%" />
<div class="about">
  <h1 class="profile_title font-semibold">Об Автоюристе сургута</h1>
  <p>
    На данной странице Вы можете более детально познакомиться со мной и моим
    опытом юридической деятельности по защите интересов граждан в судах судебной
    системы Российской Федерации.
  </p>
  <p>
    Начиная с 2001 года юридическая практика ведения судебнных дел прочно вошла
    в размеренный порядок моей жизни.
  </p>
  <p>
    Опыт практической деятельности в области защиты прав граждан в судебных
    инстанциях уже составляет более 20-ти лет.
  </p>
  <p>
    Это привело к созданию настоящего юридического портала для обмена
    практическим опытом со всеми желающими кому интересны вопросы защиты
    интересов граждан в судах.
  </p>
</div>
