
.container {
  padding: 1em;
}

.faq {
  padding-top: 20px;
  height: 100vh;  
}

h1  {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;  
  color: var(--secondaryTextColor);
  letter-spacing: .1em;  
}

input[name='panel'] {
  display: none;
}

label {
  display: block;
  padding: 0.8em;
  width: 100%;
  height: 2.5em;
  border-bottom: 0.1em solid hsl(200, 96%, 80%);
  background: #6482c2;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
}


label:hover {
  background: #8ba6df;
  cursor: pointer;
}

.collapsible {
  display: block;
  padding: 0 1em;
  width: 100%;
  background: #292d2e;
}

.collapsible p {
  padding-top: 10px;
  color: #fff;
}


input[name='panel'] + .collapsible {
  overflow: hidden;
  height: 0;

  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

input[name='panel']:checked + .collapsible {
  overflow: auto;
  height: 110px; /* ширина поля ответа */
}

/* Media */

@media (max-width: 710px) {
  label {
    font-size: .88em;
  }

  .collapsible p {
    font-size: .77em;
  } 

  input[name='panel']:checked + .collapsible {    
    height: 80px; 
  }
  
}


@media (max-width: 629px) {
  label {
    font-size: .85em;
  }

  .collapsible p {
    font-size: .77em;
  }
   
}


@media (max-width: 616px) {
  h1 {
    font-size: .87rem;
  }

  label {
    font-size: .85em;
  }

  .collapsible p {
    font-size: .77em;
  }
}

@media (max-width: 608px) {
  h1 {
    font-size: .87rem;
  }

  label {
    font-size: .70em;
  }

  .collapsible p {
    font-size: .75em;
  }
}

@media (max-width: 548px) {
  label {
    font-size: .68em;
  }

  .collapsible p {
    font-size: .73em;
  }
}

@media (max-width: 494px) {
  h1 {
    font-size: .7rem;
  }

  label {
    font-size: .62em;
  }

  .collapsible p {
    font-size: .68em;
  }
}

@media (max-width: 452px) {
  h1 {
    font-size: .70rem;
  }

  label {
    font-size: .60em;
  }

  .collapsible p {
    font-size: .64em;
  }
}

@media (max-width: 439px) {
  h1 {
    font-size: .55rem;
  }

  label {
    font-size: .46em;
  }

  .collapsible p {
    font-size: .58em;
  }
}

@media (max-width: 361px) {
  h1 {
    font-size: .55rem;
  }

  label {
    font-size: .48em;
  }

  .collapsible p {
    font-size: .55em;
  }
}