---
import MainLayout from "@layouts/MainLayout.astro";
import HeroError from "@components/404/HeroError.astro";
import VideoError from "@components/404/VideoError.astro";
---

<MainLayout title="Страница 404 || Автоюрист Сургут">
  <HeroError />  
  <VideoError />
  <section class="section--page">
    <h3 class="text-center pt-2">Страница, была удалена или недоступна.</h3>
  </section>
</MainLayout>
