---
import { Icon } from 'astro-icon/components';
const { currentPage, totalPages, disablePrevious, disableNext } = Astro.props;

interface Props {
  currentPage: number;
  totalPages: number;
  disablePrevious: boolean;
  disableNext: boolean;
}
---

<div class="flex justify-center gap-8 mt-2">
  <a
    href={'/blog?page=' + (currentPage - 1)}
    class={disablePrevious
      ? 'inline-block bg-[#6482c2] px-3 py-2 text-white rounded-md pointer-events-none'
      : 'inline-block bg-indigo-100 px-3 py-2 hover:bg-[#6482c2] hover:text-white rounded-lg'}
  >
    <Icon
      name="doubleArrowLeft"
      title="Предыдущая страница"
      size={22}
      class="cursor-pointer"
    />
  </a>
  <a
    href={'/blog?page=' + (currentPage + 1)}
    class={disableNext
      ? 'inline-block bg-gray-100 px-3 py-2 text-gray-400 rounded-lg pointer-events-none'
      : 'inline-block bg-indigo-100 px-3 py-2 hover:bg-[#6482c2] hover:text-white rounded-lg'}
  >
    <Icon
      name="doubleArrowRight"
      title="Следующая страница"
      size={22}
      class="cursor-pointer"
    />
  </a>
</div>
