


p,
li {
  color: #fff;
  font-weight: 100;
}

h2 {
  font-size: 26px;
  text-decoration: underline;
  font-style: italic;
}

h3, h4 {
  font-size: 22px;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
}

h4 {
  font-size: 18px;
}

.article--container a {
  color: var(--mainLinkColor-light);
} 

.article--container a:hover {
  color: #8ea4d4;  
}


/* ======== NEW STYLES ======= */

.italic {
  font-style: italic;
  color: #fff;
  text-decoration: underline dotted;
}

.zametka {
  padding: 1rem 0.5rem;
  background-color: #6482c2;
  font-weight: 500;  
  border-radius: 15px;
}

.sovet {
  background-color: red;
}

.alert {
  color: red;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;

}

.articles {
  background-color: #6482c2;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 1rem;
}



/* ======== MEDIA QUERIES ======== */

@media (max-width: 767px) {
  .menu--container {
    margin-top: 20px;
  }
}

@media (max-width: 605px) {
  summary h2 {
    text-align: center;
    font-size: 20px;
  }

  .body-post h3 {
    font-size: 20px;
    text-align: center;
  }

  .body-post p {
    font-size: 0.95em;
  }
}

@media (max-width: 375px) {
  details li a {
    font-size: 0.8em;
  }

  .body-post p {
    font-size: 0.85em;
  }
}
