@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainTextColor-light: #000;
  --secondaryTextColor-light: rgb(51 51 51);
  --mainLinkColor-light: #6482c2;
  --mainBorderColor: #0c0c0c;
  --mainBorderColor-light: rgb(218, 218, 218);
  --mainBgColor-light: rgb(249, 250, 251);
  --contentBgColor: rgba(255, 255, 255, 0.1);
  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #cbc8d0;
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #131415;

  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBgColor: var(--mainBgColor-dark);

  --shadowBoxBottom: 0px 5px 5px -3px rgba(214, 224, 232, 0.2);
  --shadowBoxTop: 0px 5px 5px -3px rgba(214, 224, 232, 0.2) inset;
}

* {
  line-height: 1.8em;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 82px;
  letter-spacing: 0.05em;
}

body {
  background-color: var(--mainBgColor);
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

p,
span,
small,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

small {
  font-size: 0.8em;
}

a {
  color: var(--mainLinkColor-light);
  font-weight: 500;
  text-decoration: none;
}

li {
  line-height: 1.9em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.section {
  padding: 0.5em 0;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

.astro-code {
  padding: 1em;
  border-radius: 10px;
  background-color: var(--mainBorderColor);
}

.astro-code code {
  padding: 0;
  background-color: var(--mainBorderColor);
}

code {
  background-color: #3d3d3d;
  padding: 2px 5px;
  border-radius: 5px;
}

.astro-code span {
  font-family: monospace;
  font-size: 16px;
}

/* Предварительная статья блога */
.card--article-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--mainBorderColor);
  font-size: 1rem;
  font-weight: semibold;
}

.article-preview__body {
  display: flex;
  align-items: center;
}

.article-title:hover,
.docs-title:hover {
  color: var(--mainLinkColor-light);
  transition: all 0.7s;
}

@media (max-width: 440px) {
  .card--article-preview strong {
    font-size: 0.95rem;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 1em;
  }

  .new-video-preview {
    grid-template-columns: 1fr;
  }

  #video--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
